* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  color: rgb(43, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: #865cff;
}

@import "./Header.css";
@import "./IncomeForm";
